@import 'tailwindcss';

@theme {
	--hue: 300;

	--color-primary: oklch(0.75 0.14 var(--hue));
	--color-page-bg: oklch(0.16 0.014 var(--hue));
	--color-card-bg: oklch(0.23 0.015 var(--hue));
	--color-small-card-bg: oklch(0.33 0.035 var(--hue));
	--enter-btn-bg: oklch(0.4 0.05 var(--hue));

	--color-white: oklch(1 0 0);
	--color-grey: #ffffff80;
}
